
      <h2 id="#deploy">Quer fazer deploy para <a href="http://digitalocean.com/" target="_blank">DigitalOcean</a>?</h2>

      <ul class="cmd-line">
        <li>
          <p>Siga as instruções da documentação para adicionar suporte ao deploy (<a href="http://docs.azk.io/pt-BR/deploy" target="_blank">Ver doc</a>)</p>
        </li>
        <li>
          <p>Envie o projeto para o servidor remoto (<a href="http://docs.azk.io/pt-BR/reference/cli/deploy.html" target="_blank">Ver docs</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk deploy <span class="cmd-line--option"></span></pre>
        </li>
      </ul>
