
      <div class="h-line"> &nbsp; </div>

      <h2>Deseja ver alguns exemplos de aplicação mais complexas? <br>Veja os projetos abaixo rodando com <span class="azk-name">azk</span> :</h2>
      <ul class="projects">
        <li>
          <a href="https://github.com/heitortsergent/evernote-sdk-js/" target="_blank">Evernote JS SDK</a> - Esta é uma aplicação básica que utiliza Node.js, Express e a SDK de javascript do Evernote que mostra o uso básico da API do Evernote.
        </li>
        <li>
          <a href="https://github.com/azukiapp/meli-questions" target="_blank">Meli Questions</a> - esta é uma pequena aplicação para testar webhooks de perguntas do Mercadolivre que utiliza Node.js, Express, oAuth2, MongoDB e ngrok para redirecionar os webhooks para a aplicação.
        </li>
        <li>
          <a href="https://github.com/heitortsergent/feedbin" target="_blank">Feedbin</a> - Esta é uma aplicação mais complexa que utiliza Ruby/Rails, Postgres, Redis, ElasticSearch, Memcached, Sidekiq (sistema de fila de tarefas assíncrona) e Clockwork (performa tarefas agendadas).
        </li>
      </ul>
